<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
    <form action="/mahasiswa/add" method="post">
        <label>NIM</label><br/>
        <input type="text" name="nim" placeholder="Your NIM.."><br/><br/>
        <label>Name</label><br/>
        <input type="text" name="nama" placeholder="Your Name.."><br/><br/>
        <label>Year</label><br/>
        <input type="text" name="angkatan" placeholder="Year.."><br/><br/>
        <input type="submit" value="Add"/>
    </form>
</body>
</html>